{% extends 'layout-sidebar.twig' %}

{% block title %}
  Manage Questions for {{ course.name }} | {{ parent() }}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>
      Manage Questions ({{ course.name }})
    </h2>
  </div>
  <div class="container-fluid">
    <div class="row main-content">
      <div class="col-md-8">
        {% for question in course.questions %}
          <div class="panel">
            <div class="panel-body clearfix">
              {{ loop.index }}. {{ question.question }}

              <button id="delete-question-{{ question.id }}" class="delete-question pull-right">
                <span class="fa fa-times text-danger"></span>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <form action="" method="post">
          <div class="box box-default">
            <div class="box-header">
              <h3>Add New Question</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <input class="form-control" placeholder="Question..." type="text"
                               name="question[question]"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <select class="form-control" id="question-type-select" name="question[type]">
                          <option value="">Select Option Type</option>
                          {% for type in ['multiple_choice', 'true_or_false'] %}
                            <option value="{{ type }}">{{ type }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>

                  <h4>Options</h4>

                  <div id="question-options" class="form-group">
                    <div class="row">
                      <div id="question-options-true-or-false">
                        {% for i in ['True', 'False'] %}
                          <div class="col-sm-12">
                            <div class="input-group">
                              <input type="text" name="question[options][{{ loop.index }}]" class="form-control"
                                     placeholder="Text for {{ i }}..."/>

                              <span class="input-group-addon">
                                <input type="radio" name="question[answer]"
                                       value="{{ loop.index }}"/>
                              </span>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      <div id="question-options-multiple-choice">
                        {% for i in [1, 2, 3, 4] %}
                          <div class="col-sm-12">
                            <div class="input-group">
                              <input type="text" class="form-control" name="question[options][{{ loop.index }}]"
                                     placeholder="Text for option {{ i }}..."/>

                              <span class="input-group-addon">
                                <input type="radio" name="question[answer]" value="{{ loop.index }}"/>
                              </span>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <p>
                    Enter the text for the options and checkmark the round box at the right
                    to select which option is the right answer.
                  </p>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary btn-block">
                Add Question
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}