{% extends 'layout-sidebar.twig' %}

{% block title %}
    Dashboard | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="admin-dashboard">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="stat stat-green clearfix">
                            <a href="{{ app.url_generator.generate('user.index') }}"
                               class="stat-icon pull-left">
                                <i class="fa fa-users"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{{ stats.total_users }} Users</strong>
                                <small>Manage Users</small>
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="stat stat-red clearfix">
                            <a href="{{ app.url_generator.generate('book.index') }}"
                               class="stat-icon pull-left">
                                <i class="fa fa-book"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{{ stats.total_books }} Books</strong>
                                <small>Manage Books</small>
                            </h3>
                        </div>
                    </div>

                    <!-- <div class="col-sm-6 col-md-4">
                        <div class="stat stat-blue clearfix">
                            <a href="{## {{ app.url_generator.generate('article.index') }} #}"
                               class="stat-icon pull-left">
                                <i class="fa fa-file"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{# {{ stats.total_posts }} #} Articles</strong>
                                <small>Manage Articles</small>
                            </h3>
                        </div>
                    </div> -->

                    <div class="col-sm-6 col-md-4">
                        <div class="stat stat-blue clearfix">
                            <a href="javascript:void(0)"
                               class="stat-icon pull-left">
                                <i class="fa fa-shopping-cart"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{{ stats.total_reserved_books }} Books</strong>
                                <small>Total Reserved Books</small>
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="stat stat-gray clearfix">
                            <a href="javascript:void(0)"
                               class="stat-icon pull-left">
                                <i class="fa fa-eye"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{{ stats.total_views }} Views</strong>
                                <small>Total Views</small>
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="stat stat-green clearfix">
                            <a href="javascript:void(0)"
                               class="stat-icon pull-left">
                                <i class="fa fa-thumbs-up"></i>
                            </a>

                            <h3 class="stat-content text-right animation-pullDown">
                                <strong>{{ stats.total_likes }} Likes</strong>
                                <small>Total Likes</small>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel panel-default no-rounded">
                            <div class="panel-heading">
                                <h4>Recently Registered Users</h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%;">#</th>
                                            <th style="width: 10%;">Image</th>
                                            <th style="width: 15%;">Name</th>
                                            <th style="width: 5%;">Type</th>
                                            <th style="width: 30%;">Address</th>
                                            <th style="width: 20%;">Contact Info</th>
                                            <th style="width: 15%;">Funding</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in recentUsers %}
                                            <tr>
                                                <td>{{ user.id }}</td>
                                                <td>
                                                    <img width="140" class="img-responsive" src="{{ user.photo_url | default(app.default_user_image) }}"/>
                                                </td>
                                                <td>{{ user.full_name }}</td>
                                                <td>{{ user.type }}</td>
                                                <td>{{ user.address }}</td>
                                                <td>
                                                    <strong>Phone</strong> <br />
                                                    {{ user.phone }} <br/>
                                                    <strong>Email</strong> <br />
                                                    {{ user.email }}
                                                </td>
                                                <td>
                                                    <strong>Fund</strong> <br />
                                                    {{ user.fund }} NGN <br/>
                                                    <strong>Debt</strong> <br />
                                                    {{ user.debt }} NGN
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
