{% extends 'layout-sidebar.twig' %}

{% block title %}
    Edit User | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-edit">
        <div class="page-header">
            <h2>Edit {{ user.type }} ({{ user.unique_id }}) - # {{ user.id }}  </h2>
        </div>
        <form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="row main-content">
                    <div class="col-md-8">

                        {% include 'partials/errors.twig' with errors %}

                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="content-header">User Details</h3>
                            </div>
                            <div class="box-body">

                                <h4>Account Information</h4>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <select id="input-user-type" name="user[type]" class="form-control">
                                            <option value="">Select User Type</option>
                                            <option value="staff">Staff</option>
                                            <option value="student">Student</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text"
                                               id="input-unique-id"
                                               class="form-control" name="user[unique_id]"
                                               placeholder="Select a user type first...">
                                    </div>
                                </div>

                                <h4>Personal Information</h4>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="user[first_name]"
                                               placeholder="First Name">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="user[last_name]"
                                               placeholder="Last Name">
                                    </div>
                                    <div class="col-md-4">
                                        <select name="user[gender]" class="form-control">
                                            <option value="">Select Gender</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="user[email]" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="user[address]"
                                               placeholder="Home Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <span class="fa fa-key"></span>
                                            </button>
                                        </span>
                                            <input type="text" id="input-user-password" class="form-control" name="user[password]">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="btn-generate-password" type="button"> Generate User Password ! </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="box-footer">
                                <button class="btn btn-primary" type="submit">Create User</button>
                                <a href="{{ app.url_generator.generate('admin.dashboard') }}" class="btn btn-default"
                                   type="button">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-default">
                            <div class="box-header">
                                <span class="fa fa-key"></span> Secure Card Number
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="user[rfid]"
                                               placeholder="Enter RFID here..."/>
                                    </div>
                                </div>

                                <p class="alert alert-info">
                                    <strong>Instructions</strong> <br/>
                                    Scan the card to be issued to the user and type in the
                                    number displayed on the screen...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
